@use 'sass:map';
@use '../abstracts/' as abs;

html {
  font-size: 10px;
}

body {
  background-color: map.get(map.get(abs.$active-theme, neutral), 100);
  color: map.get(map.get(abs.$active-theme, neutral), 900);
}

.container {
  width: min(80%, 600px);
  margin-inline: auto;
}

.container--wide {
  width: min(90%, 600px);
  margin-inline: auto;
}

img {
  --flow-spacer: 0.75rem;
}

time {
  width: fit-content;
  margin-inline: auto;
}
