@use 'sass:map' as map;
@use '../abstracts/colors' as *;
@use '../abstracts/type' as *;

body {
  font-family: $sans-serif;
}

h1,
h2,
h3,
h4,
.h1,
.h2,
.h3,
.h4 {
  line-height: map.get($leading, low);
}

h1,
h2,
h3,
.h1,
.h2,
.h3 {
  font-weight: map.get($weights, bold);
}

h1,
.h1 {
  font-size: map.get($sizes, subtitle);
}

h2,
.h2 {
  font-size: map.get($sizes, title);
}

h3,
.h3 {
  font-size: map.get($sizes, heading);
}

h4,
.h4 {
  font-size: map.get($sizes, text);
  font-weight: map.get($weights, semibold);
}

p,
.p {
  --flow-spacer: 0.2em;
  font-size: map.get($sizes, text);
  font-weight: map.get($weights, regular);
  line-height: map.get($leading, high);
}

time {
  display: inline-block;
  width: 100%;

  color: map.get(map.get($active-theme, accent), 500);
  font-family: $monospace;
}
