@use '_mixins' as mix;

$light-theme: (
  neutral: (
    100: hsl(0 0% 95%),
    900: hsl(209 39% 20%),
  ),
  accent: (
    400: hsl(209 75% 85%),
    500: hsl(209 75% 48%),
    600: hsl(209 75% 36%),
  ),
);

$dark-theme: (
  neutral: (
    100: hsl(209 39% 20%),
    900: hsl(0 0% 95%),
  ),
  accent: (
    400: hsl(209 75% 36%),
    500: hsl(209 75% 80%),
    600: hsl(209 85% 90%),
  ),
);

$active-theme: $light-theme;

@include mix.theme-mq() {
  $active-theme: $dark-theme;
}
