@use '../abstracts/mixins' as mix;

.flex-c {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

@include mix.mq(small) {
  .flex-r {
    display: flex;
    gap: 1rem;
  }
}

.flex-r[data-flex='important'] {
  display: flex;
  gap: 1rem;
}
