@use '../abstracts/mixins' as mix;
@use '../abstracts/colors' as clrs;

.hover-underline {
  @include mix.mq(small) {
    @include mix.pseudo($loc: after, $inset: auto auto 0 0) {
      width: 1ch;
      height: 4px;

      border-radius: 0 50% 50% 0;
      background: linear-gradient(to right, var(--clr-accent-500), var(--clr-accent-600));
      transition: width 250ms ease-in-out;
    }

    &:hover::after {
      width: 100%;
    }
  }
}

.hover-underline--always {
  @include mix.pseudo($loc: after, $inset: auto auto 0 0) {
    width: 100%;
    height: 4px;

    border-radius: 0 50% 50% 0;
    background: linear-gradient(to right, var(--clr-accent-500), var(--clr-accent-600));
    transition: width 250ms ease-in-out;
  }
}
