@use '../abstracts/' as abs;

// Be careful when updating these custom properties.
// You also need to update the corresponding values in the typewriter-fade class.
.typewriter-container {
  --typewriter-speed: 3s;
  --typewriter-chars: 0;
  --typewriter-delay: 1s;
  --typewriter-blink: 750ms;
}

.typewriter {
  font-family: abs.$monospace;
  position: relative;
}

.typewriter::before,
.typewriter::after {
  content: '';
  position: absolute;
  inset: 0 0 0 0;
}

.typewriter::before {
  background: var(--clr-accent-400);
  animation: typewriter var(--typewriter-speed) steps(var(--typewriter-chars))
    var(--typewriter-delay) forwards;
}

.typewriter::after {
  width: 0.125em;
  background: var(--clr-accent-600);
  animation: typewriter var(--typewriter-speed) steps(var(--typewriter-chars))
      var(--typewriter-delay) forwards,
    blink var(--typewriter-blink) steps(var(--typewriter-chars)) infinite;
}

// The value of the animation-delay is based on the custom properties of the typewriter-container class.
.typewriter-fade {
  opacity: 0;
  transform: translateY(3em);
  animation: fade-in-up 2000ms ease calc(calc(3 + 1) * 1s) forwards;
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}

@keyframes fade-in-up {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
