@use 'sass:map';
@use '../abstracts/colors' as clrs;
@use '../abstracts/mixins' as mix;

.hamburger-container {
  $_color: map.get(map.get(clrs.$active-theme, neutral), 900);

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  width: 50px;
  height: 50px;

  cursor: pointer;
  border: 2px solid $_color;

  & .hamburger {
    @include mix.pseudo($loc: before, $inset: auto auto auto auto, $relative: false) {
      transform: translateY(-12px) translateX(-12.5px);
    }
    @include mix.pseudo($loc: after, $inset: auto auto auto auto, $relative: false) {
      transform: translateY(12px) translateX(-12.5px);
    }

    &,
    &::before,
    &::after {
      width: 25px;
      height: 3px;
      background: $_color;
      border-radius: 5px;
    }
  }
}

@include mix.mq(small) {
  .hamburger-container {
    display: none;
  }
}
