@use '../abstracts/colors' as clrs;

header {
  padding-block: 2rem;

  position: sticky;
  top: 0;

  background-color: var(--clr-accent-400);
  color: var(--clr-neutral-900);
  text-align: center;

  & > * > .flex-r[data-flex='important'] {
    justify-content: space-between;
    align-items: center;
  }
}
