@use 'sass:map';
@use '../abstracts' as abs;
@use '../base/' as base;

nav,
.nav {
  display: none;
  padding-block: 2rem;
  color: map.get(map.get(abs.$active-theme, neutral), 900);
  background-color: map.get(map.get(abs.$active-theme, accent), 400);

  &[open] {
    display: block;
    @include abs.animate(fade-in, 500ms, forwards);
  }

  & img {
    align-self: center;
  }

  & li {
    width: fit-content;
    margin-inline: auto;
    padding: 0.5em;

    font-size: 1.5rem;
    line-height: map.get(abs.$leading, 'high');

    cursor: pointer;
  }

  & li:hover,
  & li:focus {
    opacity: 0.75;
  }
}

@include abs.keyframes(fade-in) {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@include abs.mq(small) {
  nav,
  .nav {
    display: block;
  }
}
