@use 'sass:map';
@use '../abstracts/colors' as clrs;
@use '../base/' as base;

header {
  background-color: map.get(map.get(clrs.$active-theme, accent), 400);
  color: map.get(map.get(clrs.$active-theme, neutral), 900);
  text-align: center;
}

nav,
.nav {
  display: flex;
  flex-direction: column;
  justify-content: center;

  min-height: 35vh;
  padding-block: 2rem;

  transition: transform 500ms ease-in-out;

  & img {
    align-self: center;
  }

  & li {
    width: fit-content;
    margin-inline: auto;
    padding: 0.5em;

    font-size: 1.5rem;
    list-style: none;
    line-height: map.get(base.$leading, 'high');

    cursor: pointer;
  }

  & li:hover,
  & li:focus {
    opacity: 0.75;
  }

  & .menu {
    display: flex;
    justify-content: space-between;
  }
}
