@use 'sass:map';
@use '../abstracts' as abs;
@use '../base/' as base;

nav,
.nav {
  padding-block: 2rem;

  & img {
    align-self: center;
  }

  & li {
    width: fit-content;
    margin-inline: auto;
    padding: 0.5em;

    font-size: 1.5rem;
    line-height: map.get(abs.$leading, 'high');

    cursor: pointer;
  }

  & li:hover,
  & li:focus {
    opacity: 0.75;
  }

  & .menu {
    display: flex;
    justify-content: space-between;
  }
}

@include abs.keyframes(fade-in) {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@include abs.keyframes(fade-out) {
  100% {
    opacity: 0;
  }
  0% {
    opacity: 1;
  }
}

@include abs.keyframes(slide-up) {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}

nav[open] {
  @include abs.animate(fade-in, 500ms, forwards);
}
